service vendor.sensors-hal-1-0-meizu_sdm845 /vendor/bin/hw/android.hardware.sensors@1.0-service.meizu_sdm845
    class hal
    user system
    group system wakelock uhid
    capabilities BLOCK_SUSPEND
    rlimit rtprio 10 10
